@model ProjekatPraksa.Models.StudentEntity

@{
    ViewData["Title"] = "Details";
}

<h2 class="d-flex justify-content-center align-content-center pt-3">DETALJNE INFORMACIJE</h2>
<hr/>
<div class="d-flex justify-content-center">
    <dl class="row" style="width:380px">
        <dt class = "col-sm-6">
            Ime
        </dt>
        <dd class = "col-sm-6">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class = "col-sm-6">
            Prezime
        </dt>
        <dd class = "col-sm-6">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class = "col-sm-6">
            Telefon
        </dt>
        <dd class = "col-sm-6">
            @Html.DisplayFor(model => model.Mobile)
        </dd>
        <dt class = "col-sm-6">
            Email
        </dt>
        <dd class = "col-sm-6">
            @Html.DisplayFor(model => model.Email)
        </dd>
    </dl>
</div>
<div class="d-flex justify-content-center pt-3">
    <a class="btn btn-secondary" asp-action="Edit" asp-route-id="@Model?.Id">Uredi</a>
    <div style="width:5px"></div>
    <a class="btn btn-primary" asp-action="Index">Nazad</a>
</div>
