@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Potvrda registracije";
}

<h1 class="d-flex justify-content-center align-content-center pt-5 pb-5">@ViewData["Title"]</h1>
@{
    if (@Model.DisplayConfirmAccountLink)
    {
        <div class="d-flex justify-content-center align-content-center"><a class="w-45 btn btn-lg btn-primary" id="confirm-link" href="@Model.EmailConfirmationUrl">Kliknite ovdje da potvrdite svoj nalog</a></div>
    }
    else
    {
<p>
        Please check your email to confirm your account.
</p>
    }
}

