@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center pt-4">
   <div class="row">
       <div class="col-6">
            <img src="~/images/book.svg" height="150" width="150" />
            <h3>Literatura</h3>
            <p>Preuzmite potrebnu literaturu potpuno besplatno</p>
       </div>
       <div class="col-6">
            <img src="~/images/todo.svg" height="150" width="150" />
            <h3>Samostalan rad</h3>
            <p>Dignite Vaše znanje na viši nivo uz zadatke prilagođene svakom predmetu</p>
       </div>
   </div>
</div>
<br />
<div class="text-center">
    <div class="row">
        <div class="col-6">
            <img src="~/images/cap.svg" height="150" width="150" />
            <h3>Diploma</h3>
            <p>Steknite svjetski priznatu diplomu iz IT oblasti</p>
        </div>
        <div class="col-6">
            <img src="~/images/mouse.svg" height="150" width="150" />
            <h3>Tehnologija</h3>
            <p>Najsavremeniji računari i računarska oprema</p>
        </div>
    </div>
</div>
