@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center pt-4">
   <div class="row">
       <div class="col-6">
            <img src="~/images/bookcrna.svg" height="150" width="150" />
            <h3 class="text-white">Literatura</h3>
            <h6 class="text-white">Preuzmite potrebnu literaturu potpuno besplatno</h6>
       </div>
       <div class="col-6">
            <img src="~/images/todocrna.svg" height="150" width="150" />
            <h3 class="text-white">Samostalan rad</h3>
            <h6 class="text-white">Dignite Vaše znanje na viši nivo uz zadatke prilagođene svakom predmetu</h6>
       </div>
   </div>
</div>
<br />
<div class="text-center">
    <div class="row">
        <div class="col-6">
            <img src="~/images/capcrna.svg" height="150" width="150" />
            <h3 class="text-white">Diploma</h3>
            <h6 class="text-white">Steknite svjetski priznatu diplomu iz IT oblasti</h6>
        </div>
        <div class="col-6">
            <img src="~/images/miscrni.svg" height="150" width="150" />
            <h3 class="text-white">Tehnologija</h3>
            <h6 class="text-white">Najsavremeniji računari i računarska oprema</h6>
        </div>
    </div>
</div>
